@import './_variables';
@import './_queries.scss/';

html {
    outline: none;
}

body {
    background-image: url(../images/oGamQhz.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: lato, 'Courier New', Courier, monospace;
    font-weight: 100;
    height: 100vh;
    width: 100vw;
    @include cleanMP();
}

.grid {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60%;

    justify-content: center;
    align-content: center;
}

.app {
    box-shadow: $shadow;
    background-color: #ffffff;
    height: 80vh;
    width: 80vw;

    @include position(center, center);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 3fr;

}

.new-game {
    grid-column-start: span 3;
    @include position(center, center);

    button {
        @include overwriteBtn();

        i {
            transform: rotate(180deg);
            color: $red-box;
            margin-left: 0.7rem;
        }
    }

    &:hover i {
        @include animation-right();
    }
}

.player-1,
.player-2 {
    @include position(center, center);
    font-size: 3.5rem;
}

.p1-score,
.p2-score {
    @include position(center, center);
    font-size: 6.5rem;
    font-weight: 100;
    @include fill-parent(100%);

    display: flex;

    justify-content: center;

    span {
        margin: auto;
    }
}

.dice {
    @include position(center, center);
    display: flex;
    justify-content: center;

    img {
        max-width: 50%;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    }
}

/*.fade-leave-active {
    transition: 0s;
}*/

.fade-enter-active {
    transition: opacity 0.7s;
}

/*.fade-leave-to */

.fade-enter {
    opacity: 0;
}

.p1-current,
.p2-current {
    $this: &;
    @include position(center, center);
    display: inherit;
    background-color: $red-box;
    color: $light-text;
    padding: 3% 10% 2% 10%;

    span {
        @include position(center, center);
        font-weight: 300;

        &:first-child {
            font-size: 1.2rem;
        }

        &:last-child {
            font-size: 3.8rem;
        }
    }
}

.controls {
    @include position(center, center);
    display: inherit;


    color: $red-box;

    i {
        color: $red-box;
    }

    & .roll {
        @include overwriteBtn();
        margin: 0.5rem;

        i {
            margin-left: 1rem;
        }

        &:hover i {
            @include animation-right();
        }
    }

    & .hold {
        @include overwriteBtn();
        margin: 0.5rem;

        i {
            margin-left: 0.7rem;
        }

        &:hover i {
            @include animation-right();
        }
    }

    & span {
        font-size: 3rem;
        color: rgb(80, 80, 150);
        font-weight: 400;
    }
}

.active {
    color: $red-box !important;
    font-weight: 500 !important;
}