<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/ec19563e4c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="scss/style.css">
    <title>Document</title>
</head>

<body>
    <div class="grid">
        <div class="app">
            <div @click="newGame" class="new-game">
                <button>New Game<i class="fa fa-repeat"></i></button>
            </div>
            <div v-bind:class="{ active: !turn }" class="player-1">
                <span>Player 1</span>
            </div>
            <div class="space"></div>
            <div v-bind:class="{ active: turn }" class="player-2">
                <span>Player 2</span>
            </div>
            <div class="p1-score">
                <span v-text="scores[0]"></span>
            </div>

            <div class="dice">
                <transition name="fade" mode="out-in">
                    <img :src="`/images/dice-${currDice}.png`" :key="imgKey">
                </transition>
            </div>
            <div class="p2-score">
                <span v-text="scores[1]"></span> </div>
            <div class="p1-current">
                <span>Current</span><span v-text="current[0]"></span>
            </div>
            <div class="controls">
                <span v-if="message">{{ `Player ${turn + 1} Wins!` }}</span>
                <button v-if="displayControls" @click="initRoll" class="roll">Roll<i class="fas fa-dice"></i></button>
                <button v-if="displayControls" @click="hold" class="hold">Hold<i
                        class="fas fa-arrow-circle-down"></i></button>
            </div>
            <div class="p2-current">
                <span>Current</span><span v-text="current[1]"></span>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>